.about-us-page-top-two-section-container {
  padding: 4rem;
}

.about-us-page-top-two-section-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.about-us-page-top-two-section-content img {
  height: 400px;
}

.about-us-page-top-two-section-content p {
  margin: 1rem 0;
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .about-us-page-top-two-section-container {
    padding: 1rem;
  }
  .about-us-page-top-two-section-content img {
    height: 300px;
  }

  .about-us-page-top-two-section-content p {
    font-size: 16px;
    text-align: justify;
  }
}
