/* Styling for the entire section */
.home-page-top-section-left-content h1 {
  font-size: 4rem; /* Adjust the size as needed */
  margin-bottom: 20px;
  line-height: 1.2;
}

/* Bold style for the first line of the heading */
.home-page-top-section-left-content h1 span.bold {
  font-weight: 900;
  color: black;
}

/* Outlined style for the rest of the heading */
.home-page-top-section-left-content h1 span.outlined {
  color: transparent;
  -webkit-text-stroke: 2px black;
  font-weight: 900;
}

.home-page-top-section-left-content {
  padding: 0 3rem !important;
}

.home-page-top-section-left-content p {
  font-size: 26px;
  font-weight: 600;
}

.home-page-top-section-left-content-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
}

.home-page-top-section-left-content-buttons button {
  border: 1px solid #000;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  width: 40%;
}

.home-page-top-section-content {
  align-items: center;
  padding: 4rem 0;
}

.home-page-top-section-left-content-for-fans-button {
  background-color: #fff;
}

.home-page-top-section-left-content-for-artists-button {
  background-color: #000;
  color: #fff;
}

.home-page-top-section-right-content-img {
  position: relative;
}

.home-page-top-section-right-content {
  padding: 0 3rem !important;
  position: relative;
}

.home-top-section-img {
  height: 550px;
  width: 420px;
  transform: rotate(10deg);
  border: 2px solid #000;
}

.home-top-section-absolute-img {
  position: absolute;
  height: 150px;
  left: -30px;
  top: 40%;
}

.home-page-top-section-right-content p {
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotate(90deg);
  font-weight: bold;
}

@media (max-width: 768px) {
  .home-page-top-section-left-content h1 {
    font-size: 2.5rem;
  }
  .home-page-top-section-left-content,
  .home-page-top-section-right-content {
    padding: 1rem !important;
  }
  .home-page-top-section-left-content p {
    text-align: justify;
  }
  .home-page-top-section-left-content-buttons button {
    width: auto;
  }
  .home-page-top-section-right-content {
    margin-top: 2rem !important;
  }
  .home-top-section-img {
    height: 300px;
    width: 250px;
  }
  .home-page-top-section-right-content{
    text-align: center;
  }
  .home-top-section-absolute-img {
    height: 80px;
    left: 20px;
  }
  .home-page-top-section-right-content p {
    right: -60px;
    font-size: 14px;
  }
}
