.home-page-artist-toolkit-section-container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem;
    height: 100vh;
    position: relative;
}

.home-page-artist-toolkit-section-title{
    background-color: transparent;
    border: 2px solid #fff;
    max-width: fit-content;
    padding: 10px 20px;
}

.home-page-artist-toolkit-section-title p{
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.home-page-artist-toolkit-section-content{
    margin: 2rem 0;
}

.home-page-artist-toolkit-section-content h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    width: fit-content;
}

.home-page-artist-toolkit-section-content h1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.home-page-artist-toolkit-section-footer-link{
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    bottom: 20px;
}

@media (max-width:768px) {
    .home-page-artist-toolkit-section-container{
        padding: 1rem;
        height: 90vh;
    }
    .home-page-artist-toolkit-section-content{
        margin: 5rem 0;
    }
    .home-page-artist-toolkit-section-content h1{
        font-size: 35px;
    }
    .home-page-artist-toolkit-section-footer-link{
        font-size: 16px;
    }
}