.qrates-curated-page-artist-toolkit-section-container {
  padding: 2rem;
}

.qrates-curated-page-artist-toolkit-section-title h3 {
  font-size: 40px;
  font-weight: bold;
}

.qrates-curated-page-artist-toolkit-section-content {
  padding: 0 !important;
  margin: 2rem 0 !important;
  background-color: #000;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
}

.qrates-curated-page-artist-toolkit-section-left-content {
  width: 100%;
  height: 690px;
  padding: 0 !important;
}

.qrates-curated-page-artist-toolkit-section-left-content img {
  width: 100%;
  height: 100%;
}

.qrates-curated-page-artist-toolkit-section-right-content {
  padding: 2rem 3rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.qrates-curated-page-artist-toolkit-section-right-content-title {
  width: fit-content;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #fff;
  margin: 2rem 0;
}

.qrates-curated-page-artist-toolkit-section-right-content-title span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.qrates-curated-page-artist-toolkit-section-right-content-body h2 {
  font-size: 40px;
  margin: 1rem 0;
}

.qrates-curated-page-artist-toolkit-section-right-content-body p {
  font-size: 22px;
  font-weight: 600;
}

.qrates-curated-page-artist-toolkit-section-right-content a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .qrates-curated-page-artist-toolkit-section-container {
    padding: 2rem 0.6rem;
  }
  .qrates-curated-page-artist-toolkit-section-title h3 {
    font-size: 30px;
  }
  .qrates-curated-page-artist-toolkit-section-left-content {
    height: 300px;
  }
  .qrates-curated-page-artist-toolkit-section-right-content {
    padding: 20px !important;
  }
  .qrates-curated-page-artist-toolkit-section-right-content-body h2 {
    font-size: 30px;
  }
  .qrates-curated-page-artist-toolkit-section-right-content-body p {
    font-size: 18px;
    text-align: justify;
  }
}
