.qrates-curated-page-latest-articles-section-container {
  padding: 2rem;
}

.qrates-curated-page-latest-articles-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qrates-curated-page-latest-articles-section-title h2 {
  font-size: 2.5rem; /* Scalable font size */
  font-weight: bold;
}

.qrates-curated-page-latest-articles-section-title-button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.qrates-curated-page-latest-articles-section-title-button button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.qrates-curated-page-latest-articles-section-content {
  margin: 2rem 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px; /* Space between cards */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.qrates-curated-page-latest-articles-section-content::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.qrates-curated-page-latest-articles-section-content-boxs {
  width: 500px;
  border: 2px solid #000;
  background-color: #000;
  color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.qrates-curated-page-latest-articles-section-content-boxs-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  padding: 20px;
}

.qrates-curated-page-latest-articles-section-content-box-title {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  width: fit-content;
  padding: 5px 15px;
}

.qrates-curated-page-latest-articles-section-content-box-title span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.qrates-curated-page-latest-articles-section-content-boxs-body {
  padding: 20px;
}

.qrates-curated-page-latest-articles-section-content-boxs-body h2 {
  font-size: 26px;
  white-space: nowrap;
  font-weight: bold;
}

.qrates-curated-page-latest-articles-section-content-boxs-body p {
  font-size: 20px;
  white-space: normal;
  font-weight: 600;
}

@media (max-width: 768px) {
  .qrates-curated-page-latest-articles-section-container {
    padding: 2rem 0.6rem;
  }
  .qrates-curated-page-latest-articles-section-title {
    flex-direction: column;
  }
  .qrates-curated-page-latest-articles-section-title h2 {
    font-size: 30px;
  }
  .qrates-curated-page-latest-articles-section-content-boxs {
    width: 400px;
  }
  .qrates-curated-page-latest-articles-section-content-boxs-body {
    overflow: hidden;
  }
  .qrates-curated-page-latest-articles-section-content-boxs-body h2 {
    font-size: 22px;
    white-space: nowrap;
    font-weight: bold;
  }
  .qrates-curated-page-latest-articles-section-content-boxs-body p {
    font-size: 18px;
  }
}
